/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

/* body,
td,
th,
tr,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 18px;
} */
body,
td,
th,
tr,
p,
a {
  font-family: 'Noto Sans', Verdana, Helvetica, sans-serif;
  font-size: 17px;
}

strong {
  font-family: 'Noto Sans', Verdana, Helvetica, sans-serif;
  font-size: 16px;
}

h2 {
  margin: 0;
  font-weight: 700;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 25px;
}







body {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-content {
  flex: 1;
  box-sizing: border-box;
}

@media (min-width: 800px) and (max-width: 1200px) {
  .main-content {
      padding-right: 350px; /* Adjust this value based on badge width */
  }
}

.badge-container {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1000;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.badge-container > div {
  margin-bottom: 10px; /* Space between badges */
}

.custom-twitter-badge {
  display: flex;
  align-items: center;
  background-color: #333333;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  width: 250px; /* Adjust the width as needed */
}

.custom-twitter-badge img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  border-radius: 50%; /* This makes the corners round */
}

.custom-twitter-badge a {
  color: #555;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.custom-twitter-badge a:hover {
  text-decoration: underline;
}



/* Hide badges on mobile and remove padding */
@media (max-width: 800px) {
  .badge-container {
      display: none;
  }

}









/* .badge-container {
  position: fixed;
  top: 30%; 
  right: 0; 
  transform: translateY(-50%);
  z-index: 1000; 
  padding: 10px;
  background-color: #fff; 
}

.custom-twitter-badge img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  border-radius: 15px;
}

.custom-twitter-badge a {
  color: #555;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.custom-twitter-badge a:hover {
  text-decoration: underline;
}


@media (max-width: 600px) {
  .badge-container {
      display: none;
  }
} */






.mediatitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.motto{
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 1.0em;
  color: #555;  
  letter-spacing: 0.5px;  
  font-style: italic;
  text-align: center;
}

.papertitle {
  font-family: 'Noto Sans', Verdana, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.booktitle {
  font-family: 'Noto Sans', Verdana, Helvetica, sans-serif;
  font-size: 17px;
  font-style: italic;
}

.name {
  padding-top: 20px;
  margin: 0;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}